#song-content
    #song-overview 
        #play-song
            img#start-song(src="images/play.png")
            a#song-link(href=songData.songUrl )
        #song-description
            a(href=`/${songData.User.username}` title=songData.User.username class='ajax-link')= songData.User.username
            h2#title= songData.title
            if songData.artist
                p#artist= songData.artist
            p= songData.album
            p= songData.genre
        #song-img
            img(src=songData.User.profilePicUrl, alt=songData.User.username)
    #comments