section(id='latest' class="songCard__section")
    header
        h2 Six Random Songs
        p generated in the /explore route handler
    div(class='songCards')
        each song in sixSongs
            div(class='card')
                div(class='card__image' style=`background-image: url(${song.User.dataValues.profilePicUrl})`)
                div(class='card__label')
                    div(class='card__label__album')=song.album
                    div(class='card__label__artist')=song.artist
section(id='latest' class="songCard__section")
    header
        h2 Six Random Songs
        p generated in the /explore route handler
    div(class='songCards')
        each song in sixSongs
            div(class='card')
                div(class='card__image' style=`background-image: url(${song.User.dataValues.profilePicUrl})`)
                div(class='card__label')
                    div(class='card__label__album')=song.album
                    div(class='card__label__artist')=song.artist
section(id='latest' class="songCard__section")
    header
        h2 Six Random Songs
        p generated in the /explore route handler
    div(class='songCards')
        each song in sixSongs
            div(class='card')
                div(class='card__image' style=`background-image: url(${song.User.dataValues.profilePicUrl})`)
                div(class='card__label')
                    div(class='card__label__album')=song.album
                    div(class='card__label__artist')=song.artist
