div.userPage
    if userData.backgroundPic && userData.profilePic
        img.userPage_banner(src=userData.backgroundPic)
        img.userPage_profilePic(src=userData.profilePic)
        div.userPage_name= userData.username
    else
        img.userPage_banner(src="/images/vaporwave.jpg")
        if userData.profilePic
            img.userPage_profilePic(src=userData.profilePic)
        else
            img.userPage_profilePic(src="/images/missing_profile.png")
        div.userPage_name= userData.username

    if !userData.Songs
        div.userUploads This user hasn't uploaded a song yet
    else
        div.userUploads #{userData.username}'s Uploads:
        if user.id === userData.id
            button.userPage_buttons.button.editUser.ajax-link(title=`users/${userData.id}/edit`) Edit Details
        div.userSongCollection
            if userData.Songs
                each song in userData.Songs
                    section.userPage_song
                                img.userPage_SongPic.playSong(src=userData.profilePic id=song.music data-title=song.title data-artist=song.artist title=song.title)
                                div.songInfo
                                    div.ajax-link(title=`${userData.username}/${song.songLocalPath}`) Track: #{song.title}
                                    div.ajax-link(title=`${userData.username}/${song.songLocalPath}`) Artist: #{song.artist}
                                    div.ajax-link(title=`${userData.username}/${song.songLocalPath}`) Album: #{song.album}
                                    div.ajax-link(title=`${userData.username}/${song.songLocalPath}`) Genre: #{song.genre}
                                img.userPage_waveform(src='images/sample-waveform.png')
