

div(class='userPage__wrapper')
    section(class='userPage__header' style=`background-image: url(${userData.backgroundPic})`)
        div(class='userProfileImage__container')
            img(class='userProfileImage' src=userData.profilePic)
        div(class='userName__label')=userData.username
    section(class='userPage__main')
        section(class='upload__container')
            each song in userData.Songs
                div(class='upload')
                    img(class='upload__userImage' src=userData.profilePic)
                    div(class='uploadInfo__container__wrapper')
                        div(class='uploadInfo__container')
                            span(class='songName__label') Track:
                            span(class='songName__text ajax-link' title=`${userData.username}/${song.songLocalPath}`)=`${song.title}`
                            //- span(class='songName__text ajax-link') Test
                        div(class='uploadInfo__container')
                            span(class='artistName__label') Artist:
                            span(class='songName__text ajax-link' title=`${userData.username}/${song.songLocalPath}`)=`${song.artist}`
                            //- span(class='songName__text ajax-link') Test
                        div(class='uploadInfo__container')
                            span(class='albumName__label') Album:
                            span(class='songName__text ajax-link' title=`${userData.username}/${song.songLocalPath}`)=`${song.album}`
                            //- span(class='songName__text ajax-link') Test
                        div(class='uploadInfo__container')
                            span(class='genreName__label') Genre:
                            span(class='songName__text ajax-link' title=`${userData.username}/${song.songLocalPath}`)=`${song.genre}`
                            //- span(class='songName__text ajax-link') Test
                    div(class='userPage_waveform__wrapper')
                        img(class='userPage_waveform' src='images/sample-waveform.png')
                div(class="separator")
                //- each song in userData.Songs
                    //- img(class='upload__userImage' src=userData.profilePic)
                    //- div(class='uploadInfo__container__wrapper')
                    //-     div(class='uploadInfo__container')
                    //-         span(class='songName__label') Track:
                    //-         span(class='songName ajax-link' title=`${userData.username}/${song.songLocalPath}`)=`${song.title}`
                    //-     div(class='uploadInfo__container')
                    //-         span(class='artistName__label') Artist:
                    //-         span(class='artistName ajax-link' title=`${userData.username}/${song.songLocalPath}`)=`${song.artist}`
                    //-     div(class='uploadInfo__container')
                    //-         span(class='albumName__label') Album:
                    //-         span(class='albumName ajax-link' title=`${userData.username}/${song.songLocalPath}`)=`${song.album}`
                    //-     div(class='uploadInfo__container')
                    //-         span(class='genreName__label') Genre:
                    //-     span(class='genreName ajax-link' title=`${userData.username}/${song.songLocalPath}`)=`${song.genre}`
                    //- img(class='commentForm__likeBtn userPage_waveform' src='images/sample-waveform.png')
